NEXT_PUBLIC_HOSTED_BUTTON_ID=string
NEXT_PUBLIC_GRAPHCMS_CONTENT_API=url
NEXT_PUBLIC_GRAPHCMS_PERMANENT_AUTH_TOKEN=string_with_quotes

NEXT_PUBLIC_EMAILJS_SERVICE_ID=string_with_quotes
NEXT_PUBLIC_EMAILJS_EMAIL_TEMPLATE_ID=string_with_quotes
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=string

NEXT_PUBLIC_BASE_URL=string

SENTRY_DSN=string
NEXT_PUBLIC_SENTRY_DSN=string
SENTRY_AUTH_TOKEN=string