.home-gallery-swiper {
  padding-bottom: 2rem !important;
}

.home-gallery-swiper .swiper-pagination {
  transform: translateY(15px);
}

.home-events-swiper .swiper-pagination {
  transform: translateY(15px);
}

.event-prev.swiper-button-disabled,
.event-next.swiper-button-disabled,

.gallery-prev.swiper-button-disabled,
.gallery-next.swiper-button-disabled {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .home-gallery-swiper .swiper-wrapper {
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap !important;

    width: 100%;
    height: 100%;
  }

  .home-gallery-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc((100% - 10px) / 2) !important;
    width: 160px !important;
    margin: 8px 8px 0 0 !important;
  }
}

@media screen and (min-width: 767px) {
  .home-events-swiper .swiper-pagination {
    display: none;
  }
}