.home-gallery-swiper {
  padding-bottom: 2rem !important;
}

.home-gallery-swiper .swiper-pagination {
  transform: translateY(15px);
}

.home-events-swiper.swiper {
  margin: 0 -20px;
  padding: 0 25px;
}

.home-events-swiper .swiper-pagination {
  transform: translateY(15px);
}

.swiper-backface-hidden .swiper-slide {
  max-width: 376px;
}

.event-prev.swiper-button-disabled,
.event-next.swiper-button-disabled,

.gallery-prev.swiper-button-disabled,
.gallery-next.swiper-button-disabled {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 20px !important;
  }
}

@media screen and (min-width: 767px) {
  .home-events-swiper .swiper-pagination {
    display: none;
  }

  .info-swiper .swiper-pagination {
    display: block;
  }

  .info-swiper .swiper-pagination {
    padding-top: 1rem;
  }

  .info-swiper .swiper-pagination-bullet-active {
    text-decoration: underline;
  }
  
  .info-swiper .swiper-pagination span {
    display: inline-block;
    margin-top: 1rem;
    color: #000000 !important;
    font-size: 20px;
    background-color: transparent;
  }
}


.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
