.home-gallery-swiper {
  padding-bottom: 2rem !important;
}

.home-gallery-swiper .swiper-pagination {
  transform: translateY(15px);
}

.home-events-swiper.swiper {
  margin: 0 -20px;
  padding: 0 25px;
}

.home-events-swiper .swiper-pagination {
  transform: translateY(15px);
}

.swiper-backface-hidden .swiper-slide {
  max-width: 376px;
}

.event-prev.swiper-button-disabled,
.event-next.swiper-button-disabled,

.gallery-prev.swiper-button-disabled,
.gallery-next.swiper-button-disabled {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .home-gallery-swiper .swiper-wrapper {

  }

  .home-gallery-swiper .swiper-slide {

  }
}

@media screen and (min-width: 767px) {
  .home-events-swiper .swiper-pagination {
    display: none;
  }
}