.home-gallery-swiper {
  margin-top: -30px !important;
  padding: 30px 20px 2rem !important;
}

.home-gallery-swiper .swiper-pagination {
  transform: translateY(15px);
}

.home-events-swiper.swiper {
  margin: 0 -20px;
  padding: 0 60px; /*60*/
}

.home-events-swiper .swiper-pagination {
  transform: translateY(15px);
}

.swiper-backface-hidden .swiper-slide {
  max-width: 376px;
}
.swiper-slide:hover{
  z-index: 2;
}

.swiper-slide-active{
 transform: scale(1.09) !important;;
}

.event-prev.swiper-button-disabled,
.event-next.swiper-button-disabled,

.gallery-prev.swiper-button-disabled,
.gallery-next.swiper-button-disabled {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 20px !important;
  }

  .info-swiper {
    width: 108% !important;
  }

  .info-swiper .swiper-pagination {
    display: none;
  }

  .home-events-swiper .swiper-wrapper {
    margin-left: -14px !important;
  }
}

@media screen and (min-width: 767px) {
  .home-events-swiper .swiper-pagination {
    display: none;
  }

  .info-swiper .swiper-pagination {
    display: flex;
    justify-content: center;
    width: 90%;
    padding-bottom: 5px;
  }

  .info-swiper .swiper-pagination {
    padding-top: 1rem;
  }

  .info-swiper .swiper-pagination-bullet-active {
    text-decoration: underline;
  }
  
  .info-swiper .swiper-pagination span {
    display: inline-block;
    margin-top: 1rem;
    color: #000000 !important;
    font-size: 20px;
    background-color: transparent;
  }

  .events-swiper {
    width: 100%;
    justify-content: space-between;
  }

  .events-swiper .swiper-wrapper .swiper-slide {
    flex-basis: 32%;
  }
}

.info-swiper {
  padding-bottom: 25px !important;
}

.info-swiper .swiper-pagination {
  transform: translateY(15px);
  z-index: 50 !important;
  width: 90% !important;
  transform: translateX(5.5%) !important;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
