@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-100 text-gray-900;
  font-family: ProximaNova300;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

@font-face {
  font-family: 'ProximaNova100';
  src: url('./../assets/fonts/Proxima Nova Thin.ttf');
}

@font-face {
  font-family: 'ProximaNova200';
  src: url('./../assets/fonts/Proxima Nova Light.ttf');
}

@font-face {
  font-family: 'ProximaNova300';
  src: url('./../assets/fonts/Proxima Nova Regular.ttf');
}

@font-face {
  font-family: 'ProximaNova400';
  src: url('./../assets/fonts/Proxima Nova Semibold.ttf');
}

@font-face {
  font-family: 'ProximaNova500';
  src: url('./../assets/fonts/Proxima Nova Bold.ttf');
}

@font-face {
  font-family: 'ProximaNova600';
  src: url('./../assets/fonts/Proxima Nova Extrabold.ttf');
}

@font-face {
  font-family: 'ProximaNova700';
  src: url('./../assets/fonts/Proxima Nova Black.ttf');
}

.home-front-section {
  background-image: url('/home-blur.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-section {
  background-image: url('/about-blur.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}